<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="QueryEngineV200606DotNetSoap1" />
            </basicHttpBinding>
            <basicHttpsBinding>
                <binding name="QueryEngineV200606DotNetSoap" maxBufferPoolSize="20000000"
                    maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
            </basicHttpsBinding>
        </bindings>
        <client>
            <endpoint address="https://csportal01.u4a.se/P665900-agresso-webservices/service.svc?QueryEngineService/QueryEngineV200606DotNet"
                binding="basicHttpsBinding" bindingConfiguration="QueryEngineV200606DotNetSoap"
                contract="TSWS.QueryEngineV200606DotNetSoap" name="QueryEngineV200606DotNetSoap" />            
        </client>
    </system.serviceModel>
</configuration>